.wh-autocomplete-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: min-content;
}

.wh-autocomplete-open-btn {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 8px 56px 8px 16px;
    height: 44px;
    width: 100%;
    overflow: hidden;
    border: 1px solid #BFC2C4;
    border-radius: 4px;
    align-self: stretch;
    background-color: transparent;
    position: relative;
    cursor: default !important;
    outline: none;
    white-space: nowrap;

    &:disabled {
        background-color: white !important;
        pointer-events: none;

        span {
            color: #A8A8A8;
        }
    }
}

.wh-autocomplete-open-btn::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 8px;
    background-color: transparent;
    background-image: url('./assets/down-arrow.svg');
    background-repeat: no-repeat;
    left: calc(100% - 28px);
    bottom: calc(100% - 26px);
    background-size: 12px;
    transition: 0.2s ease-in-out;
}

.wh-autocomplete-open-btn:disabled:after {
    background-image: url('./assets/down-arrow-disabled.svg');
}

.rotate-arrow::after {
    transform: rotate(180deg);
}

.wh-autocomplete-label {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    align-self: flex-start;
    padding-left: 6px;
    margin-bottom: 4px;
}

.option-highlighted {
    background-color: rgba(242, 242, 242, 0.5); // Change this to your desired highlight color
}

.option-disabled {
    pointer-events: none !important;
    background-color: rgb(252, 252, 252) !important;
    opacity: 0.5;

    span {
        color: #ff9c9c !important;
    }
}

.no-results {
    padding: .5rem;
    pointer-events: none;
    cursor: default;
    opacity: 0.8;
}

.wh-autocomplete-text-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 4px;
    // overflow: hidden;
    width: 100%;
}

.wh-autocomplete-selection {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem .5rem;
    row-gap: .5rem;
    width: 100%;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.17);
    border-radius: 8px;
    position: absolute;
    top: 110%;
    z-index: 6;
}

.not-showing-selection {
    max-height: 0px;
    padding: 0 .5rem;
    // opacity: 0;

    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.showing-selection {
    max-height: 260px;
    // opacity: 1;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.wh-autocomplete-option-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.wh-autocomplete-option-wrapper::-webkit-scrollbar {
    width: 4px;
}

.wh-autocomplete-option-wrapper::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 4px;
}

.wh-autocomplete-option-wrapper::-webkit-scrollbar-thumb {
    background: #9A9A9A;
    border-radius: 4px;
}

.wh-autocomplete-option-wrapper::-webkit-scrollbar-thumb:hover {
    background: #626262;
}

.wh-autocomplete-option {
    cursor: default;
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 8px 8px 8px 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 4px;
    gap: 6px;

    &:hover {
        background-color: rgba(242, 242, 242, 0.5);
    }
}

.option-selected {
    background-color: #F2F2F2;
}

.wh-autocomplete-option-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: #626262;
    text-align: left;
}

.wh-autocomplete-option-desc {
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #9A9A9A;
    text-align: left;
}

.wh-autocomplete-selected-single-text {
    white-space: nowrap;
}

.wh-autocomplete-selected-multiple-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #626262;
    background-color: #DBDBDB;
    border-radius: 24px;
    padding: 2px 8px;
    white-space: nowrap;
    position: relative;
}

.selection-remove-option {
    cursor: pointer;
    transition: 0.1s ease-in-out;
    z-index: 25;

    &:hover {
        opacity: 0.7;
    }
}

.custom-form-control-invalid {
    border-color: #dc3545 !important;

    &:focus {
        border-color: #dc3545 !important;
        box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, .25) !important;
    }
}

.custom-form-control-invalid:after {
    background-image: url('./assets/down-arrow-invalid.svg');
}

.custom-form-control-valid {
    border-color: #198754 !important;

    &:focus {
        border-color: #198754 !important;
        box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, .25) !important;
    }
}

.custom-form-control-valid:after {
    background-image: url('./assets/down-arrow-valid.svg');
}