$dark: rgba(35, 35, 35, 1); // #232323
$almostDark: rgba(64, 64, 64, 1); // #404040
$red: rgba(236, 28, 36, 1); // #EC1C24
$redHover: rgba(204, 17, 24, 1); // #CC1118
$redActive: rgba(169, 9, 15, 1); // #A8090F

.wh-btn-redesign {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 12px 24px;
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    max-width: min-content;
    white-space: nowrap;
    min-width: 80px;
    height: min-content;

    &:not(:disabled, .wh-btn-disabled) {
        &:hover {
            i {
                color: #FFFF;
            }

            span {
                color: #FFFF;
            }

            h4 {
                color: #FFFF;
            }
        }
    }

    &:disabled {
        opacity: 0.3;
    }
}

.small {
    padding: 8px 24px;
    height: 44px;
}

.btn-icon {
    font-size: 21px;
}

.border-dark {
    border: 2px solid $almostDark;

    &:not(:disabled, .wh-btn-disabled) {
        &:hover {
            background-color: $dark !important;
            border-color: $dark !important;
        }

        &:active {
            background-color: $dark !important;
            border-color: $dark !important;
        }
    }
}

.border-red {
    border: 2px solid $red;

    &:not(:disabled, .wh-btn-disabled) {
        &:hover {
            background-color: $redHover !important;
            border-color: $redHover !important;
        }

        &:active {
            background-color: $redActive !important;
            border-color: $redActive !important;
        }
    }
}

.no-text-padding {
    padding-left: 14px;
    padding-right: 14px;
}

.wh-btn-disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}