/* TEXT COLORS */
$dark: rgba(77, 77, 77, 1); // #4D4D4D
$dark-opacity: rgba(77, 77, 77, 0.85); // #4D4D4D O:0.85

$light: rgba(255, 255, 255, 1); // #FFFFFF
$light-opacity: rgba(255, 255, 255, 0.85); // #FFFFFF O:0.85

$gray: rgba(147, 147, 147, 1); // #939393
$dark-gray: rgba(108, 108, 108, 1); // #6C6C6C

$red: rgba(236, 28, 36, 1); // #EC1C24


* {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $dark;
}

.wh-text-big {
    font-weight: 600;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -0.02em;
    margin: 0,
}

.wh-text-small {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    margin: 0,
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
    margin: 0 !important;
}

h1 {
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.02em;
}

h2 {
    font-size: 32px;
    line-height: 40px;
}

h3 {
    font-size: 24px;
    line-height: 32px;
}

h4 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.wh-text-dark {
    color: $dark;
}

.wh-text-dark-o {
    color: $dark-opacity;
}

.wh-text-light {
    color: $light;
}

.wh-text-light-o {
    color: $light-opacity;
}

.wh-text-gray {
    color: $gray;
}

.wh-text-dark-gray {
    color: $dark-gray;
}

.wh-text-red {
    color: $red;
}

.wh-bg-dark {
    background-color: $dark;
}

.wh-bg-light {
    background-color: $light;
}

.wh-bg-gray {
    background-color: $gray;
}

.wh-bg-red {
    background-color: $red;
}

.wh-bg-transparent {
    background-color: transparent;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.gapx-5 {
    column-gap: 2rem;
}

.uppercase {
    text-transform: uppercase;
}

.padd-0 {
    padding: 0 !important;
}

.required-input::after {
    content: '*';
    color: red;
    font-size: 15px;
    padding: 1px;
    font-weight: 500;
    line-height: 1;
}

.form-control,
.wh-form-control-overwrite,
.wh-select-open-btn,
.wh-time-picker-open-btn,
.wh-date-picker-open-btn,
.wh-autocomplete-open-btn,
.wh-text-area-field,
.wh-input-field-v {
    color: #4D4D4D;
    text-align: left;

    &::placeholder {
        color: #4D4D4D;
    }

    &:focus {
        border-color: #86b7fe;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
    }
}

.wh-input-container-v .wh-input-field-v {
    border: 1px solid #BFC2C4;
    border-radius: 4px;
}

.wh-text-area-container .wh-text-area-field {
    border: 1px solid #BFC2C4;
    border-radius: 4px;
}

.flex-scroll-global {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    min-height: 0;
    -webkit-box-flex: 1;
    flex: 1;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #f2f2f2;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #9A9A9A;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #626262;
    }
}

.padd-bot-1 {
    padding-bottom: .5rem;
}

.padd-top-1 {
    padding-top: .5rem;
}

.padd-left-1 {
    padding-left: .5rem;
}

.padd-right-1 {
    padding-right: .5rem;
}

.padd-bot-2 {
    padding-bottom: 1rem;
}

.padd-top-2 {
    padding-top: 1rem;
}

.padd-left-2 {
    padding-left: 1rem;
}

.padd-right-2 {
    padding-right: 1rem;
}

.padd-bot-3 {
    padding-bottom: 1.5rem;
}

.padd-top-3 {
    padding-top: 1.5rem;
}

.padd-left-3 {
    padding-left: 1.5rem;
}

.padd-right-3 {
    padding-right: 1.5rem;
}

.padd-bot-4 {
    padding-bottom: 2rem;
}

.padd-top-4 {
    padding-top: 2rem;
}

.padd-left-4 {
    padding-left: 2rem;
}

.padd-right-4 {
    padding-right: 2rem;
}

.padd-bot-5 {
    padding-bottom: 2.5rem;
}

.padd-top-5 {
    padding-top: 2.5rem;
}

.padd-left-5 {
    padding-left: 2.5rem;
}

.padd-right-5 {
    padding-right: 2.5rem;
}

.d-flex {
    display: flex;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.mw-100 {
    max-width: 100%;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.ms-1 {
    margin-left: .25rem;
}

.ms-2 {
    margin-left: .5rem;
}

.mt-1 {
    margin-top: .25rem;
}

.mt-2 {
    margin-top: .5rem;
}

.mb-1 {
    margin-bottom: .25rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mr-1 {
    margin-right: .25rem;
}

.mr-2 {
    margin-right: .5rem;
}

.gapx-1 {
    column-gap: .5rem;
}

.gapx-2 {
    column-gap: 1rem;
}

.gapx-3 {
    column-gap: 1.5rem;
}

.gapx-4 {
    column-gap: 2rem;
}

.gapx-5 {
    column-gap: 2.5rem;
}

.gapy-1 {
    row-gap: .5rem;
}

.gapy-2 {
    row-gap: 1rem;
}

.gapy-3 {
    row-gap: 1.5rem;
}

.gapy-4 {
    row-gap: 2rem;
}

.gapy-5 {
    row-gap: 2.5rem;
}

.gap-1 {
    gap: .5rem;
}

.gap-2 {
    gap: 1rem;
}

.gap-3 {
    gap: 1.5rem;
}

.gap-4 {
    gap: 2rem;
}

.gap-5 {
    gap: 2.5rem;
}

.text-center {
    text-align: center;
}

.align-self-center {
    align-self: center;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}